
<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlinks}}
  </head>
  <body>
   {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <!-- main header left div-->
            <div class="col-md-12 col-12 main_header_left align-items-center justify-content-center">
                <figure class="">
                 <img src="img/404 error.jpeg" alt="malik" class="img-fluid" title="malik zohaib">
                </figure>
            
            <!-- main header right div-->
           
            <p>Welcome to the weather app</p>
            <h1>{{errorMsg}}</h1>
            <a href="/weather"><button class="">About me</button></a>
            </div>
           
           
        </div>
    </div>
    <!-- Footer code -->
    {{>footer}}
    
  </body>
</html>


