
<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlinks}}
  </head>
  <body>
   {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <!-- main header left div-->
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                 <img src="img/about.png" alt="malik" class="img-fluid" title="malik zohaib">
                </figure>
             </div>
            <!-- main header right div-->
           <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to the weather app</p>
            <h1>I'm a <span class="text_clr">Mern Stack Developer</span> Youtuber  and freelancer</h1>
            <a href="/weather"><button class="">About me</button></a>
           </div>
           
           
        </div>
    </div>
    <!-- Footer code -->
    {{>footer}}
    
  </body>
</html>

